{% extends 'base.html' %}


{% block content %}
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2 class="section-heading">{{post.title}}</h2>
          <p class="post-meta">Posted by
                        <a href="#">{{post.author}}</a>
                        on {{post.date_posted}}  
                        <span style="color:Brown;"> 
                        {% if user.is_authenticated %} 
                        <a href="{% url 'post_edit' post.pk %}">Edit Post</a> 
                        <a href="{% url 'post_delete' post.pk %}">Delete</a> 
                        </span>
                        {% endif %}</p>
          <p>{{post.content}}</p>
        </div>
      </div>
    </div>
  </article>

  {% endblock content %}